<div class="container" id="authorlist-body" >
    <div class="row ">
        <!--左侧主体-->
        {% assign author = page.name |strip  %}
        <div class=" author-photo ">
            <img class="photo" src="{{page.image}}"><br>
            {{author}}

        </div>


        <div class="col-xs-12  col-sm-12 yearBlogTip">
            <span class="glyphicon glyphicon-home"></span>首页>博文>{{author}}
        </div>

        <div class="col-sm-12  col-md-9 row">

            {% for year in site.data.years %}
            {% assign yearcount = 0 %}
            {% assign y = year.y %}
            {% for post in site.posts %}
                {% assign postyear = post.date | date: "%Y" %}
                {% assign postauthor = post.author |strip  %}
                {% if postyear == y and  author == postauthor %}
                    {% assign yearcount = yearcount | plus : 1 %}
                {% endif %}
            {% endfor %}
            <div class="col-sm-12  col-md-12 row list-group yearBlogSub-container">
                <p class=" yearBlogSub yearCountBar ">{{y}}年度 ({{ yearcount }}篇)</p>
                {% for post in site.posts %}
                    {% assign postyear = post.date | date: "%Y" %}
                    {% assign postauthor = post.author |strip  %}
                    {% if postyear == y and  author == postauthor %}
                <a href="{{ post.url }}" class="list-group-item"><span class="glyphicon glyphicon-user "></span>{{ post.title }}<span class="pull-right ">发布于:{{post.date | date: "%Y.%m.%d"}}</span> </a>
                    {% endif %}
                {% endfor %}
            </div>
            {% endfor %}
        </div>

        <!--右侧分类-->
        <div class="col-sm-0 col-md-3">
            <div class="col-md-12 typetags ">
                <div class=" tags-padding-vertical box-shadow-0-5">
                    <span class="glyphicon glyphicon-tree-conifer"></span>&nbsp;&nbsp;&nbsp;<strong>作者列表</strong>
                </div>

                <ul id="blogers-tags" class="list-group author-list">
                </ul>
            </div>
        </div>
    </div>
    <script>
        $(document).ready(function () {
            var yearBlogSub =  $(".yearBlogSub-container");
            $.each(yearBlogSub,function (offset, element) {
                $(element).children().first().css("opacity",1-(offset*0.08));
            });
            var siteurl = $("#siteurl").val();
            var blogerpath = "/blogerdetails.json";                	//博主详情（姓名，头像，博文数，博主页面地址）　ｊｓｏｎ文件地址
            var blogercontent = "";																	//人气博主栏ＨＴＭＬ代码
            $.getJSON(blogerpath,function(data) {
                //读取数据
                var blogers = data;																		//对象元素的数组
                for(var i = 0; i < blogers.length-1 ;i++){																				//选择排序选出博文数最高前五
                    var indexMax = i;
                    for(var j = i;j < blogers.length;j++){
                        if(blogers[indexMax].articles < blogers[j].articles){
                            indexMax = j;
                        }
                    }
                    var bloger = blogers[indexMax];
                    blogers[indexMax] = blogers[i];
                    blogers[i] = bloger;
                }																												//拼接ＨＴＭＬ代码
                for(var k = 0 ;k < blogers.length;k++){
                    var blogeritem =  '<li class="list-group-item margin-top-3 margin-top-5px" >'+
                        '<a class="a-black-noline" href="'+siteurl +blogers[k].path + '">'+blogers[k].name+'</a><span class="pull-right badge">'+blogers[k].articles+'</span>'+
                    '</li>';
                    blogercontent += blogeritem;
                }
                //生成HTML内容
                $("#blogers-tags").html(blogercontent);
            })
            $(".yearBlogSub-container").hover(
                function () {
                    $(this).find("a").slideDown(300).css("display","block");
                },
                function () {
                    $(this).find("a").slideUp(300);
                });


        })
    </script>
</div>


